.container .filters {
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin: 0 auto;
  height: 70px;
  width: 100%;
  position: relative;
}
.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border-style: none;
  border-radius: 4px;
  margin-right: 20px;
  margin-top: 10px;
  float: right;
  /* right: 30px;
    position: absolute;
    top: 50%;
    margin-top: -24px; */
}
.filters button:hover {
  opacity: 0.9;
}
